.gitmodules
INSTALL
Makefile.in
Unicode/Makefile.in
aclocal.m4
autom4te.cache/
breakpad/Makefile.in
breakpad/server/Makefile.in
collab/Makefile.in
config.h.in
config/
configure
contrib/Makefile.in
contrib/cidmap/Makefile.in
contrib/fonttools/Makefile.in
desktop/Makefile.in
doc/Makefile.in
doc/html/Makefile.in
fontforge/Makefile.in
fontforgeexe/Makefile.in
fontforgeexe/collab/Makefile.in
gdraw/Makefile.in
gnulib/
gutils/Makefile.in
inc/Makefile.in
lib/
libltdl/
mackeys/Makefile.in
nodejs/Makefile.in
nodejs/collabwebview/Makefile.in
nodejs/collabwebview/css/Makefile.in
nodejs/collabwebview/js/Makefile.in
nodejs/collabwebview/js/contentEditable/Makefile.in
osx/Makefile.in
plugins/Makefile.in
po/Makefile.in
pycontrib/Makefile.in
pycontrib/collab/Makefile.in
pycontrib/gdraw/Makefile.in
pycontrib/graphicore/Makefile.in
pycontrib/simple/Makefile.in
pyhook/Makefile.in
share/Makefile.in
tests/Makefile.in
